h1 {text-decoration: underline;}

#my-id {color:darkcyan;}

.my-class {font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    text-align: center;
    letter-spacing: -1px;
    background-color: black;
    color: white;}

.my-container {border: 4px dotted darkcyan;
               padding: 3px 3px 3px 3px;
               background-color:darkseagreen;

}