
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

h1 {text-decoration: underline;}

#backgroundphoto-id {
    background-image: url(/Users/liamrundholz/Desktop/GitHub/-prj4-chapter-3/images/Frame-Teletubbies_3147217c.jpg);
}

#my-id {color:darkcyan;}

.my-class {font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    text-align: center;
    letter-spacing: -1px;
    background-color: black;
    color: white;}

.my-container {border: 3px solid rgb(28, 230, 230);
               background-color:rgb(127, 236, 255);
               margin: 20px 0px 20px 0px;
}